<div class="user-details">
  <div class="item-action">
   <%= current_user.name %>
  </div><!--end of .item-action -->
  <div class="feed-item-creator-name">
  </div><!--end of .feed-item-creator-name -->
</div><!--end of .user-details -->