<div class="item lastfm-top-track-container">   
  <div class="lastfm-top-track-inner-box">
    <%= image_tag feed.image_url %>
  </div><!-- end of .text-post-box  -->
</div><!--end of .item text-post -->