<div class="item lastfm-top-track-container">   
  <div class="lastfm-top-track-inner-box">
    <%= image_tag feed.image_url %>
    <div class="lastfm-top-track-details">
    </div>
  </div><!-- end of .text-post-box  -->
</div><!--end of .item text-post -->

<!-- jQuery for image mousenter reveal details -->

<script>
  $(".lastfm-top-track-inner-box").on('mouseover', function(){
    $(this).find('.lastfm-top-track-details').show();
  }).on('mouseleave', function(){
    $(this).find('.lastfm-top-track-details').hide();
  });
</script>


 