<div class="item text-post">   
  <div class="text-post-box">
    <div class="user-thumbnail">
    </div><!--end of .user-thumbnail -->
    <%= render "track_details", :feed => feed %>
    <%= image_tag feed.image_url %>
  </div><!--end of .text-post-box -->
</div><!--end of .item text-post -->