<div class="item text-post">   
  <div class="text-post-box">
    <div class="user-thumbnail">
    </div><!--end of .user-thumbnail -->
      <%=raw feed.html %>
  </div><!--end of .text-post-box -->
</div><!--end of .item text-post -->
