<div class="item text-post">   
  <div class="soundcloud-transparent">
    <div class="soundcloud-details">
    </div><!--end of .soundcloud-details -->
  </div><!--end of .soundcloud-transparent -->
  <div class="text-post-box">
      <%=raw feed.html %>
  </div><!--end of .text-post-box -->
</div><!--end of .item text-post -->
