<div class="item img-post">   
  <div class="img-post-box">
    <div class="user-thumbnail">
    </div><!--end of .user-thumbnail -->
    <%= render "user_details", :feed => feed %>
    <%= feed.content %>
    <div class="feed-item-image">
      <%= image_tag feed.photo.url %><br />
    </div>
  </div><!--end of .text-post-box -->
</div><!--end of .item text-post -->
