<div class="item img-post">   
  <div class="img-post-box">
    <div class="icon-type-overlay">
      <%= image_tag('small_camera.png')%>
    </div>
      <%= image_tag feed.photo.url %><br />
  </div><!--end of .text-post-box -->
</div><!--end of .item text-post -->
