<div class="item link-post">
  <div class="link-post-box">
    <div class="link-details">
      <div class="content-type-float">
        <%= image_tag('small_link.png')%>
      </div>
      <div class="link-box">
        <%= link_to feed.link, "http://#{feed.link}", :target => "_blank" %>
      </div><!--end of .link-box -->
    </div>

    <div class="text-content">
      <p><%= feed.content %></p><br />
    </div>
  </div>
</div>
