<div class="item link-post">
  <div class="link-post-box">
    <div class="user-thumbnail">
    </div><!--end of .user-thumbnail -->
    <%= render "user_details", :feed => feed %>
    <div class="link-box">
      <p><%= link_to feed.link, "http://#{feed.link}", :target => "_blank" %></p><br />
      <p><%= feed.content %></p><br />
    </div><!--end of .link-box -->
  </div>
</div>
