<div class="user-details">
  <div class="item-action">
    <a href="#">Like</a>
    <a href="#">Refeed</a>
  </div><!--end of .item-action -->
  <div class="lastfm-track-details">
    <%= feed.name %><br>
    <%= feed.artist %>
    <%= feed.rank %>
    <%= feed.playcount %>
  </div><!--end of .feed-item-creator-name -->
</div><!--end of .user-details -->