<div class="user-details">
  <div class="lastfm-track-details">
    <%= feed.name %><br>
    <%= feed.artist %>
    <%= feed.rank %>
    <%= feed.playcount %>
  </div><!--end of .feed-item-creator-name -->
</div><!--end of .user-details -->