<div class="user-details">
  <div class="item-action">
    <a href="#">Like</a>
    <a href="#">Refeed</a>
  </div><!--end of .item-action -->
  <div class="feed-item-creator-name">
   <%= link_to User.find(feed.user_id).name, "#" %>
  </div><!--end of .feed-item-creator-name -->
</div><!--end of .user-details -->