<div class="item text-post">   
      <%=raw feed.html %>
  <div class="soundcloud-transparent">
  </div><!--end of .soundcloud-transparent -->
  <div class="text-post-box">
  </div><!--end of .text-post-box -->
</div><!--end of .item text-post -->
