<div id="maincontainer">
  <div id="contentwrapper">
    <div id="homepage-contentcolumn">
      <div class="innertube">
        <div id="content">
          <% @feeds.each do |feed| %>
            <%= render feed.type.downcase, feed: feed %>
          <% end %>
        </div>
        </div> <!--end of #masonry-container -->
      </div> <!--end of .innertube -->
    </div> <!--end of #contentcolumn -->
  </div> <!--end of #contentwrapper -->
</div> <!--end of #maincontainer -->
