<div id="maincontainer">
  <div id="contentwrapper">
    <div id="contentcolumn">
      <div class="innertube">
        <div class="links-inline">
          <ul>
            <li><a href="#">All</a></li>  
            <li><a href="#">Re-Feeds</a></li>  
            <li><a href="#">Mics</a></li>
          </ul>
        </div> <!--end of .links-inline -->
        <div id="content">
          <!-- Want each text feed item to be put in a div with the text styling -->
          <% @feeds.each do |feed| %>
            <%= render feed.type.downcase, feed: feed %>
          <% end %>
        </div>
        </div> <!--end of #masonry-container -->
      </div> <!--end of .innertube -->
    </div> <!--end of #contentcolumn -->
  </div> <!--end of #contentwrapper -->
  <div id="leftcolumn">
    <div class="innertube">
      <div id="personal-profile">
        <h1><b>Personal Profile</b></h1>
        <p>I love TuneLine yes I do</p>
      <div> <!--end of #personal-profile -->
      <div id="user-posting">
        <h1>This is my profile!</h1>
        <h2>Feed:</h2>
        <hr>
        <%= render 'user_post' %>

      </div> <!--end of #user-postin -->
      <div id="soundcloud-player">
        <h2>Soundcloud Player</h2>
      </div> <!--end of #soundcloud-player -->
    </div> <!--end of #innertube -->
  </div><!--end of #leftcolumn -->
</div> <!--end of #maincontainer -->
<script>
  $('input[type="checkbox"]').on('change', function () {
    $('#' + this.name + 'post').slideToggle(this.checked)
                                   .siblings('div')
                                   .slideUp();
    $(this).siblings('input').prop('checked', false);
    });
</script> 
