<div id="contentwrapper">
  <div id="homepage-contentcolumn">
    <div class="innertube">
      <div class="links-inline">
        <ul>
          <li><a href="#">All</a></li>  
          <li><a href="#">Tweets</a></li>  
          <li><a href="#">Posts</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="#">Artists</a></li>
          <li><a href="#">Soundclouds</a></li>
        </ul>
      </div> <!--end of .links-inline -->
      <div id="content">

      <!-- *************** Sample Set 1 *************** -->
        <div class="item" id="tweet-sample">
          <div id="tweet-content">
          </div> <!--end of #tweet-content -->
        </div> <!--end of #tweet-sample -->
        <div class="item" id="textpost-sample">
          <div id="textpost-content">
          </div><!--end of #textpost-content -->
        </div> <!--end of #textpost-sample -->
        <div class="item" id="imgpost-sample">
          <div id="imgpost-content">
          </div><!--end of #imgpost-content -->
        </div> <!--end of #imgpost-sample -->
        <div class="item" id="linkpost-sample">
          <div id="linkpost-content">
          </div><!--end of #linkpost-content -->
        </div> <!--end of #linkpost-sample -->
        <div class="item" id="albumart-sample">
           <div id="albumart-content">
          </div><!--end of #albumart-content -->
        </div> <!--end of #albumart-sample -->
        <div class="item" id="soundcloud-sample">
          <div id="soundcloud-content">
          </div><!--end of #soundcloud-content -->
        </div> <!--end of #souncloud-sample -->

      <!-- *************** Sample Set 2 *************** -->
        <div class="item" id="textpost-sample">
          <div id="textpost-content">
          </div><!--end of #textpost-content -->
        </div> <!--end of #textpost-sample -->
        <div class="item" id="tweet-sample">
          <div id="tweet-content">
          </div> <!--end of #tweet-content -->
        </div> <!--end of #tweet-sample -->
        <div class="item" id="linkpost-sample">
          <div id="linkpost-content">
          </div><!--end of #linkpost-content -->
        </div> <!--end of #linkpost-sample -->
        <div class="item" id="imgpost-sample">
          <div id="imgpost-content">
          </div><!--end of #imgpost-content -->
        </div> <!--end of #imgpost-sample -->
        <div class="item" id="albumart-sample">
           <div id="albumart-content">
          </div><!--end of #albumart-content -->
        </div> <!--end of #albumart-sample -->
        <div class="item" id="soundcloud-sample">
          <div id="soundcloud-content">
          </div><!--end of #soundcloud-content -->
        </div> <!--end of #souncloud-sample -->
      
      <!-- *************** Sample Set 3 *************** -->
        <div class="item" id="soundcloud-sample">
          <div id="soundcloud-content">
          </div><!--end of #soundcloud-content -->
        </div> <!--end of #souncloud-sample -->
        <div class="item" id="textpost-sample">
          <div id="textpost-content">
          </div><!--end of #textpost-content -->
        </div> <!--end of #textpost-sample -->
        <div class="item" id="imgpost-sample">
          <div id="imgpost-content">
          </div><!--end of #imgpost-content -->
        </div> <!--end of #imgpost-sample -->
        <div class="item" id="linkpost-sample">
          <div id="linkpost-content">
          </div><!--end of #linkpost-content -->
        </div> <!--end of #linkpost-sample -->
        <div class="item" id="tweet-sample">
          <div id="tweet-content">
          </div> <!--end of #tweet-content -->
        </div> <!--end of #tweet-sample -->
        <div class="item" id="albumart-sample">
          <div id="albumart-content">
          </div><!--end of #albumart-content -->
        </div> <!--end of #albumart-sample -->        
      </div> <!--end of #masonry-container -->
    </div> <!--end of .innertube -->
  </div> <!--end of #contentcolumn -->
</div> <!--end of #contentwrapper -->