<div id="contentwrapper">
  <div id="homepage-contentcolumn">
    <div class="innertube">
      <div id="content">
        <% @global_feed.each do |feed| %>
         <%= render "users/#{feed.type.downcase}", feed: feed %>
        <% end %>
      </div> <!--end of #masonry-container -->
    </div> <!--end of .innertube -->
  </div> <!--end of #contentcolumn -->
</div> <!--end of #contentwrapper -->
