<div class="item text-post">   
  <div class="text-post-box">
    <div class="content-type-float">
        <%= image_tag('small_pencil.png')%>
      </div>
      <%= @tl_text.content %>
  </div><!--end of .text-post-box -->
</div><!--end of .item text-post -->