/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* ###################################################################

  // 1. RESET STYLES
  // 2. TYPOGRAPHY
  // 3. PAGE SECTIONS STYLES
  // 4. COLUMNS
  // 5. HEADER
  // 6. CONTENT WRAPPER
  // 7. OTHERS

################################################################### */

 /* // 1. RESET STYLES */
/* ################################################################ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{cursor:default}

/* // 2. TYPOGRAPHY */
/* ################################################################ */
body,h1,h2,h3,h4,h5,h6,p { font-family: Oswald, Helvetica, Arial, sans-serif; }

body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

/* // 3. PAGE SECTION STYLES */
/* ################################################################ */

#contentwrapper{
float: left;
width: 100%;
}

.innertube{
margin: 5px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

.dropdown{
  display: none;
}

.links-inline li {
  display: inline;
}

#content {
  border-style: solid;
  border-width: 1px;
}

#tweet-sample {
  margin: 5px;
  width: 340px;
  height: 150px;
  background: #e3e3e3;
}

#tweet-content {
  margin:5px;
  width: 330px;
  height:140px;
  background: #ff5763;
}

.text-post {
  margin: 5px;
  width: 340px;
  height: 360px;
  background: #5d5d5d;
}

.text-post-box {
  position: relative;
  padding: 5px;
  margin: 5px;
  width: 320px;
  height: 340px;
  font-size: medium;
  background: #ffffff;
  word-wrap: break-word;
}

.user-thumbnail {
  margin-right: 5px;
  float: left;
  height: 80px;
  width: 80px;
  background: #008aaf;
}

.user-details {
  float: right;
  height: 80px;
  width: 230px;
  background: #979797;
}

.feed-item-creator-name {
  /*text-align: center;*/
  margin-left: 10px;
  vertical-align: middle;
  line-height: 80px;
}

#textpost-sample {
  margin: 5px;
  width: 340px;
  height: 350px;
  background: #848484;
}

#textpost-content {
  margin: 5px;
  width: 330px;
  height: 340px;
  background: #ff5763;
}

#imgpost-sample {
  margin: 5px;
  width: 340px;
  height: 490px;
  background: #636363;
}

#imgpost-content {
  margin: 5px;
  width: 330px;
  height: 480px;
  background: #ff5763;
  word-wrap: break-word;
}

.img-post {
  margin: 5px;
  width: 340px;
  height: 535px;
  background: #5d5d5d;
}

.img-post-box {
  position: relative;
  padding: 5px;
  margin: 5px;
  width: 320px;
  height: 515px;
  font-size: medium;
  background: #ffffff;
}

.feed-item-image {
  position: absolute;
  bottom: 5px;
  margin: 5px;
  width: 310px;
  height: 280px;
}

.feed-item-image img {
  max-width: 100%;
  max-height: 100%;
}

#linkpost-sample {
  margin: 5px;
  width: 340px;
  height: 150px;
  background: #929292;
}

#linkpost-content {
  margin: 5px;
  width: 330px;
  height: 140px;
  background: #ff5763;
}

.link-post {
  margin: 5px;
  width: 340px;
  height: 280px;
  background: #5d5d5d;
  word-wrap: break-word;
}

.text-content {
  max-width: 100%;
  max-height: 100%;
}

.link-post-box {
  position: relative;
  padding: 5px;
  margin: 5px;
  width: 320px;
  height: 260px;
  font-size: medium;
  background: #ffffff
}

.link-box {
  margin-top: 90px;
  height: 25px;
  width: 320px; 
  background: #d5d5d5;
}

#albumart-sample {
  margin: 5px;
  width: 340px;
  height: 310px;
  background: #b6b6b6;
}

#albumart-content {
  margin: 5px;
  width: 330px;
  height: 300px;
  background: #ff5763;
}

#soundcloud-sample {
  margin: 5px;
  width: 340px;
  height: 150px;
  background: #d5d5d5;
}

#soundcloud-content {
  margin: 5px;
  width: 330px;
  height: 140px;
  background: #ff5763;
}

.item-action {
  float: right;
  text-align: center;
  margin: 5px;
  width: 100px;
  height: 30px;
  background: #e3e3e3
}

.item-action a {
  vertical-align: middle;
  margin: 0px 5px 0px 5px;
}

/******************** Account Mgmt Page *************************/

#account-mgmt-container {
  width: 960px;
  margin: auto;
  background: #d5d5d5;
  height: 100%;
}

#account-mgmt-filter-container {
  margin: 10px;
  background: #e5e5e5;
  height: 40px;
}

#account-mgmt-filter-container a {
  margin: 0px 40px 0px 15px;
  display: inline;
  width:100%;
}

#integration-info {
  margin: 10px;
  padding-top: 20px;
  height: 60px;
  background: #e5e5e5;
  text-align: center;
}

#integration-outer-container {
  margin: 10px;
  height: 270px;
  background: #e5e5e5;
}

#integration-inner-container {
  margin: 10px;
  height: 260px;
  background: #ff5763;
}

.integration-container {
  float: left;
  margin: 18px 10px 10px 10px;
  width: 210px;
  height: 225px;
  background: #e5e5e5;
}

.integration-header {
  margin: 5px;
  width: 200px;
  height: 50px;
  background: #ff5763;
  text-align: center;
}

.integration-header h3 {
  padding-top: 10px;
}

.integration-logo-container {
  margin: 5px;
  width: 200px;
  height: 120px;
  vertical-align: middle;
  background: #ff5763;
}

/* TODO: not correctly centered */
.integration-logo img{
  margin: 10px 0px 0px 50px;
}

.integration-button-container {
  margin: 5px;
  width: 200px;
  height: 30px;
  background: #ff5763;
}

.integration-button {
  /* % experimentation */
  margin-left: 33%;
}

#account-details-outer-container {
  margin: 10px;
  height: 230px;
  background: #e5e5e5;
}

#account-details-inner-container {
  margin: 10px;
  height: 220px;
  background: #ff5763;
  display: block-inline;
}

#account-details-header {
  margin:5px;
  height: 40px;
  width: 910px;
  background: #e5e5e5;
  padding-top: 5px;
  text-align: center;
}

#account-details-content {
  margin: 5px;
  height: 120px;
  width: 910px;
  background: #e5e5e5;
}

#account-details-content h3 {
  padding: 10px 5px 5px 10px;
}

#account-buttons-container {
  margin: 5px;
  height: 40px;
  width: 910px;
  background: #e5e5e5;
}

#account-buttons {
  margin-top: 5px;
  float: right;
}

#account-buttons a {
  margin: 0px 40px 0px 0px;
  display: inline;
  width:100%;
}

/********************** Account Mgmt Feeds Page *************************/

#pending-table {
  float: left;
  width: 100%;
  border-collapse: collapse;
}

#pending-table th {
  vertical-align: middle;
  background-color: #ff5763;
  height: 50px;
}

#pending-table td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

#pending-table tr.alt td {
  background-color: #ffabb1;
}

/********************** Content Show Page *************************/

#content-show-detail-container {
  margin: 10px;
  height: 330px;
  width: 940px;
  background: #e5e5e5;
}

#content-show-picture-base {
  float: left;
  margin: 5px;
  width: 340px;
  height: 310px;
  background: #ff5763;
}

#content-show-picture {
  float: left;
  position: relative;
  margin: 5px;
  width: 330px;
  height: 300px;
  background: #e5e5e5;
}

#content-show-overlay {
  position: absolute;
  bottom: 0;
  width: 330px;
  height: 120px;
  background: #ff5763;
}

#content-copy-base {
  float: right;
  margin: 5px;
  width: 580px;
  height: 310px;
  background: #ff5763;
}

.content-copy-header {
  margin: 5px;
  width: 570px;
  height: 35px;
  background: #e5e5e5;
}

.sep {
  margin: 5px;
  width: 570px;
  height: 1px;
  background: #e5e5e5;
}

#content-copy-main {
  margin: 5px;
  width: 570px;
  height: 110px;
  background: #e5e5e5;
}

#content-copy-main p {
  font-size: small;
}

#content-copy-secondary {
  margin: 5px;
  width: 570px;
  height: 90px;
  background: #e5e5e5;
}

#content-copy-secondary p {
  font-size: small;
}

#comments-base {
  margin: 10px;
  height: 300px;
  width: 940px;
  background: #e5e5e5;
}

#comments-container {
  float: left;
  margin: 5px;
  width: 930px;
  height: 290px;
  background: #ff5763;
}

#old-comments {
  margin: 5px;
  width: 920px;
  height: 150px;
  background: #e5e5e5;
}

#new-comment {
  float: left;
  margin: 5px;
  width: 920px;
  height: 120px;
  background: #e5e5e5;
}

#comment-textarea {
  margin: 5px;
  width: 910px;
  height: 75px;
  background: #ffffff;
}

#post-button {
  margin: 5px;
  width: 910px;
  height: 30px;
  background: #ffffff;
}

#post-button a {
  text-align: right;
  display: inline;
  width:100%;
}

#button-right {
  margin-right: 10px;
  float: right;
}

/* // 4. COLUMNS */
/* ################################################################ */

#contentcolumn{
margin-left: 320px; /*Set left margin to LeftColumnWidth*/
}

#homepage-contentcolumn{
margin-left: 10px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 320px; /*Width of left column*/
margin-left: -100%;
background: #e3e3e3;
height: 100%;
}

#personal-profile {
  height: 100%;
  border-style: solid;
  border-width: 1px;
}

#user-posting {
  border-style: solid;
  border-width: 1px;
}

#soundcloud-player {
  border-style: solid;
  border-width: 1px;
  height: 100%;
}

/* // 5. HEADERS */
/* ################################################################ */

#topsection{
background: #EAEAEA;
height: 3em; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#logo {
  float: left;
  font-size: x-large;
}

#login {
  float: right;
  border-style: solid;
  border-width: 1px;
}